{:name         "bankster"
 :description  "Money as data, done right."
 :license      "GNU Lesser General Public License 3.0"
 :package      io.randomseed/bankster
 :output-path  "docs"
 :source-uri   "https://github.com/randomseed-io/bankster/blob/{version}/{filepath}#L{line}"
 :metadata     {:doc/format :markdown}
 :exclude-vars nil
 :themes       [:default :randomseed]}
