<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Suppress Cloverage "Excluded form ..." INFO messages -->
  <logger name="cloverage.instrument" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
