{:version    "test-inline-currency-props"
 :currencies {:crypto/AMLT {:kind      :virtual/token
                            :scale     18
                            :countries [:PL :AD]
                            :localized {:* {:name "AML Token"
                                            :symbol "⬙"}}
                            :traits    [:token/erc20]}}
 :countries  {:DE :crypto/AMLT
              :PL :crypto/AMLT}
 :localized  {:crypto/AMLT {:pl {:name "Token AML"}}}
 :traits     {:crypto/AMLT [:token/costam]}}
